* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 ;
}

body {
    background-color: #f4f6f8;
}

.container {
    display: flex;
    padding: 60px;
    gap: 30px;
}

.sidebar {
    width: 250px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    
}

.sidebar .card1 {
    color: blue;
    margin-bottom: 20px;
}

.sidebar ul {;
    list-style: none;
}

.sidebar ul li {
    padding: 12px 0;
    color: #555;
    cursor: pointer;
}

.sidebar ul li:hover {
    color: blue;
}

.main {
    flex: 1;
}

.card {
    background:white;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;

}


.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.NS {
    width: 80px;
    height: 80px;
    background:white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    color: #555;
}


.card2 {
    margin-top: 10px;
    padding: 10px 18px;
    background:blue;
    border: none;
    border-radius: 8px;
    color:white;
    cursor: pointer;
    
}

.card2:hover {
    background:blue;
}

.password-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.OOO {
    padding: 10px 18px;
    border: 2px solid #4a90e2;
    background: transparent;
    border-radius: 8px;
    color: #4a90e2;
    cursor: pointer;
}

.OOO:hover {
    background: #4a90e2;
    color: #fff;
}